/* Global Styles */
body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	color: #333;
}

/* Header Styles */
/* Header Styles */
header {
	background: linear-gradient(to bottom, #1f8996, #FFF);
	padding: 20px;
	height: 100px;
	text-align: center;
	color: #fff;
	position: relative; /* Add this line for positioning */
}

/* Logo Styles */
.header-logo {
	position: absolute;
	top: 10px; /* Adjust the top position as needed */
	left: 10px; /* Adjust the left position as needed */
	max-height: 80px; /* Set the maximum width of the logo */
	height: auto; /* Maintain aspect ratio */
}

/* Title Styles */
header h1 {
	font-size: 36px;
	text-transform: uppercase;
	color: #FFF;
	margin: 0;
}

/* Navigation Styles */
nav {
	background-color: #1f8996;
	text-align: left;
	padding: 10px;
	color: #FFF;
}

/* Remove list-style (bullets) from the navigation list */
nav ul {
	list-style: none;
	padding: 0;
}

/* Navigation List Items */
nav li {
	display: inline;
	margin: 0 10px;
}

a:visited {
	color: inherit;
}

a {
	color: #fff;
}

/* Navigation Buttons */
nav a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
}

/* Button Hover Effect */
nav a:hover {
	background-color: #fff;
	color: #1f8996;
}

/* Main content */
main {
	padding: 20px;
}

/* Sections */
section {
	margin-bottom: 20px;
}

/* Footer */
footer {
	background-color: #1f8996;
	color: #fff;
	text-align: center;
	padding: 10px;
}

/* Table Styles */
table {
	border-collapse: collapse;
	width: 100%;
	background-color: #f0f0f0;
	font-size: 16px;
}

th, td {
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
	color: #333;
}

th {
	background-color: #1f8996;
	color: #fff;
}

/* Alternating Row Background Colors */
tr:nth-child(even) {
	background-color: #1f88967b;
}

/* Hover effect for table rows */
tr:hover {
	background-color: #1f8996;
	color: #fff;
}

/* Heading Styles */
h1, h2, h3 {
	color: #1f8996;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

/* Adjust h1 */
h1 {
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}

/* Input Fields */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	padding: 10px;
	border-radius: 5px;
}

/* Labels for Input Fields */
label {
	color: #1f8996;
}

/* Submit Button */
input[type="submit"] {
	background-color: #1f8996;
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Style for Select Dropdowns */
select {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	padding: 10px;
	border-radius: 5px;
}

/* Input Field with type "number" */
input[type="number"] {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	padding: 10px;
	border-radius: 5px;
}
